<html ng-app="app">

<body>
	<div ng-controller="MainController">

		<button ng-click="callme('str')">Click me!</button>

		<input ng-model="photo.date"/>

		<photo photo-src="photo.url"
			capstring="Taken on {{photo.date}}"
			local-func="callme(msg)" />

	</div>

	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
		<script id="photo.html" type="text/ng-template">
			<figure>
				<img width="500px" ng-src="{{photoSrc}}"/>
				<figcaption>{{caption}}{{mydata}}</figcaption>
				<button ng-click="localFunc({msg:mydata})"/>
				Click Me!</button>
			</figure>
		</script>
</body>
</html>