<html ng-app="app">

<body>
    <div ng-controller="MainController">
        <input ng-model="mydata.val">
				<h1> {{mydata.val}} </h1>
				<div ng-controller="SubController">
					<input ng-model="mydata.val">
					<h1> {{mydata.val}} </h1>
				</div>
<!--         <button ng-click="mydata='123'">123</button>
        <h1> {{mydata}} </h1> -->

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>

<!-- The simple way to remember to use the .[property] is when you are using an sort of inheritance, otherwise Angular/JS prototypal inheritance will cause breakage -->